<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapsSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C08EA441F47E8B2003A2F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C08EA581F47E8B2003A2F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C08EA631F47E8B3003A2F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
